/** {*/
/*    box-sizing: border-box;*/
/*}*/
/*body {*/
/*    margin: 0;*/
/*    font-family: "Cairo", sans-serif;*/
/*    background-color: black;*/
/*}*/
.gloloader {
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: 55%;
    width: auto;
    transform: translate(-50%, -50%);
    color: #ffffff;
    /*background: red;*/
}
.gloloaderSpan {
    padding: 5px;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
    mix-blend-mode: difference;
}
.gloloader::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: #000000;
    animation: moves 3s linear infinite;
}
@keyframes moves {
    0%,
    100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
}
.logoloader {
    border: 1px solid #fff;
    position: absolute;
    left: 10%;
    top: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logoloaderSpan {
    padding: 5px;
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
    mix-blend-mode: difference;
}
.logoloader::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: #deba9d;
    animation: moves 3s linear infinite;
}
.logoloaderDark {
    border: 1px solid #fff;
    position: absolute;
    left: 10%;
    top: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.logoloaderDark::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: #000000;
    animation: moves 3s linear infinite;
}
@keyframes moves {
    0%,
    100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
}
/** {*/
/*    box-sizing: border-box;*/
/*}*/
/*body {*/
/*    margin: 0;*/
/*    font-family: "Cairo", sans-serif;*/
/*    background-color: black;*/
/*}*/
.loader {
    position: absolute;
    left: 50%;
    top: 55%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #1a1a1a;
    /*background: red;*/
}
.loaderSpan {
    padding: 5px;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
    mix-blend-mode: difference;
}
.loader::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: #deba9d;
    animation: move 4s linear infinite;
}
.loaderDark {
    position: absolute;
    left: 50%;
    top: 55%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #604c12;
    /*background: red;*/
}
.loaderSpanDark {
    padding: 5px;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
    mix-blend-mode: difference;
}
.loaderDark::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: #1a1a1a;
    animation: move 4s linear infinite;
}
@keyframes move {
    0%,
    100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
}